:root {
    --bg-base: #fff;
    --fg-base: #111;

    --border: #bbb
}

body {
    margin: 0;
    font-family: sans-serif;
    color: var(--fg-base);
    background-color: var(--bg-base);
}


header {
    min-height: 3em;
    background-color: #007d9e;
    color: #fff;
}

header .content {
    width: 90vw;
    max-width: 1280px;
    margin: 0 auto;
}

header h1 {
    margin-top: 0.2em;
}

header h1, header span {
    display: inline;
    padding: 0.6em;
    line-height: 3em;
}

header .image-container {
    display: inline-block;
    height: 3em;
    width: 4em;
}

header .image-container img {
    position: relative;
    top: 1.2em;
    left: 1.2em;
    height: 120%;
}


main {
    margin: 2em auto;
    width: 90vw;
    max-width: 1280px;
}


.post {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    border: 1px var(--border) solid;
    border-radius: 0.6em;
    margin: 0.6em auto;
}
